In [1]:
import numpy as np
import pandas as pd
import random

# 处理数据丢失数据
有两种丢失数据：
 - None
 - np.nan

# 1.None
None是python自带的，其类型为object，hence，it can't engage in any calculation

In [7]:
n = np.array([1,2,3,4,5,None])
n

array([1, 2, 3, 4, 5, None], dtype=object)

# 2.np.nan
np.nan是浮点型,np.nan*()可以进行计算，但是使其为零

In [9]:
data = np.random.randint(0,150,size=(4,4))
index = ['zhang san','li si','wang wu','zhao liu']
columns = ['Chinese','maths','python','drawing']
df = pd.DataFrame(data =data,index = index,columns=columns)
df

           Chinese  maths  python  drawing
zhang san       36     51      55        2
li si          140     49     141      119
wang wu         97     44      86       89
zhao liu       102     19       8       72

In [10]:
df.iloc[0,0]=None
df

           Chinese  maths  python  drawing
zhang san      NaN     51      55        2
li si        140.0     49     141      119
wang wu       97.0     44      86       89
zhao liu     102.0     19       8       72

In [12]:
df.iloc[0,1]=np.nan
df

           Chinese  maths  python  drawing
zhang san      NaN    NaN      55        2
li si        140.0   49.0     141      119
wang wu       97.0   44.0      86       89
zhao liu     102.0   19.0       8       72

## pandas中None和np.nan的操作
- isnull()
- notfull()
- dropna():filter missing data
- fillna():fill missing data

(1)判断数据

In [16]:

df.isnull()

           Chinese  maths  python  drawing
zhang san     True   True   False    False
li si        False  False   False    False
wang wu      False  False   False    False
zhao liu     False  False   False    False

In [15]:
df.notnull()

           Chinese  maths  python  drawing
zhang san    False  False    True     True
li si         True   True    True     True
wang wu       True   True    True     True
zhao liu      True   True    True     True

In [18]:
# 和any结合使用，判断行或者列是否存在NaN数据
#default axis = 0
df.isnull().any(axis=0)

Chinese     True
maths       True
python     False
drawing    False
dtype: bool

In [19]:
df.isnull().any(axis=1)

zhang san     True
li si        False
wang wu      False
zhao liu     False
dtype: bool

（2）过滤函数

In [20]:
df

           Chinese  maths  python  drawing
zhang san      NaN    NaN      55        2
li si        140.0   49.0     141      119
wang wu       97.0   44.0      86       89
zhao liu     102.0   19.0       8       72

In [22]:
#axis = 1 ,delete columns
df.dropna(axis=1)

           python  drawing
zhang san      55        2
li si         141      119
wang wu        86       89
zhao liu        8       72

(3)填充函数

In [24]:
df

           Chinese  maths  python  drawing
zhang san      NaN    NaN      55        2
li si        140.0   49.0     141      119
wang wu       97.0   44.0      86       89
zhao liu     102.0   19.0       8       72

In [28]:
#用指定的值去填充
df.fillna(value=10)

           Chinese  maths  python  drawing
zhang san     10.0   10.0      55        2
li si        140.0   49.0     141      119
wang wu       97.0   44.0      86       89
zhao liu     102.0   19.0       8       72

In [34]:
#用已有的成绩填充
#  bfill:向后填充    ffill:向前填充
df.fillna(axis=0,method='bfill')

           Chinese  maths  python  drawing
zhang san    140.0   49.0      55        2
li si        140.0   49.0     141      119
wang wu       97.0   44.0      86       89
zhao liu     102.0   19.0       8       72