# 数据加载

In [1]:
import numpy as np
import pandas as pd

In [7]:
pd.read_csv('./spam.csv',encoding='latin-1')

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5568,ham,Will ?_ b going to esplanade fr home?,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
! pip install xlrd

Requirement already satisfied: xlrd in d:\anaconda\lib\site-packages (1.2.0)

In [15]:
data = pd.read_excel("./dataframe.xlsx",sheet_name=0)

读取sqlite文件

导包sqlite3

读取table
pd.read_sql()

In [13]:
import sqlite3

In [14]:
# 先创建一个链接connect = sqlite.connect('path')
# data = pd.read_sql('select * from Filename limit 30',connect)

## 写入文件

In [16]:
data.to_csv('./8.3-05写入文件.csv')

In [17]:
pd.read_csv('./8.3-05写入文件.csv')

   Unnamed: 0  Unnamed: 0.1  Unnamed: 1  Unnamed: 2  Unnamed: 3   A   B   C
0           0           NaN         NaN         NaN           1  A1  B1  C1
1           1           NaN         NaN         NaN           2  A2  B2  C2
2           2           NaN         NaN         NaN           3  A3  B3  C3

### 从mysql中读取，并写入mysql

In [18]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

import pymysql

conn = pymysql.connect(host='',port=,user=,password=,database=,charset=)

In [19]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in d:\anaconda\lib\site-packages (1.3.20)